header {
  height: 56px;
  background-color: #333333;
  color: white;
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
  padding-right: 30px;
}


ion-toolbar , ion-button {
  --background:black;
  --color: white;
  --background-hover: #ffffff;
  --color-hover:#333333;
  --background-hover-opacity:0.5;
  --border-width:1px;
  --padding-end:10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-left: 10px;
  justify-content: center;
}

ion-button:hover {
  --background: #ffffff;
  --background-hover: #ffffff;
  --color: #333333;
  --color-hover:#333333;
  --border-radius: 20px;
  --padding-end:10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --background-hover-opacity: 0.5;
 
}



// ion-button {
//   --background: #93e9be;
//   --background-hover: #9ce0be;
//   --background-activated: #88f4be;
//   --background-focused: #88f4be;

//   --color: blue;

//   --border-radius: 0;
//   --border-color: #000;
//   --border-style: solid;
//   --border-width: 1px;

//   --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

//   --ripple-color: deeppink;

//   --padding-top: 10px;
//   --padding-bottom: 10px;
// }


header>span  .nav-menu {
  margin: auto 10px;
  padding: 5px 15px;
}

header>span .nav-menu:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.title {
  margin: auto;
  font-size: 25px;
}

.nav-header{
  --background: rgb(0, 0, 0);
}

/* Hide desktop menu on mobile */
.desktop-menu {
  display: none;
}

/* Show mobile menu on small screens */
.mobile-menu {
  display: block;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .desktop-menu {
    display: block;
  }
  
  .mobile-menu {
    display: none;
  }
}