<ion-header [translucent]="true">
  <ion-toolbar class="nav-header">
    <ion-button slot="start" fill="clear"><span class="title center">ANANT PATIL PORTFOLIO </span></ion-button>
    <ion-button class="nav-menu" slot="end" fill="clear" [routerLink]="['/skills']">SKILLS</ion-button>
    <ion-button slot="end" fill="clear"[routerLink]="['/projects']">PROJECTS</ion-button> 
    <ion-button slot="end"fill="clear" [routerLink]="['/education']">EDUCATION</ion-button> 
    <ion-button slot="end" fill="clear" [routerLink]="['/contact']">CONTACT</ion-button> 
  </ion-toolbar>
</ion-header>