header {
  height: 56px;
  background-color: #333333;
  color: white;
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
  padding-right: 30px;
}

ion-title {
  cursor: pointer;
}


ion-toolbar , ion-button {
  --background:black;
  --color: white;
  --background-hover: #ffffff;
  --color-hover:#333333;
  --background-hover-opacity:0.5;
  --border-width:1px;
  --padding-end:10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-left: 10px;
  justify-content: center;
}

ion-button:hover {
  --background: #ffffff;
  --background-hover: #ffffff;
  --color: #333333;
  --color-hover:#333333;
  --border-radius: 20px;
  --padding-end:10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --background-hover-opacity: 0.5;
 
}

header>span  .nav-menu {
  margin: auto 10px;
  padding: 5px 15px;
}

header>span .nav-menu:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.title {
  margin: auto;
  font-size: 25px;
}

.nav-header{
  --background: rgb(0, 0, 0);
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  display: block;
}

@media (min-width: 768px) {
  .desktop-menu {
    display: block;
  }
  
  .mobile-menu {
    display: none;
  }
}

.active-button{
  background-color: white;
  color: black;
  border-radius: 20px;
}

.active-item {
  background-color: var(--ion-color-light);
  font-weight: bold;
  color: var(--ion-color-primary);
}