<ion-card (click)="onRedirection('tel:+917020327030')">
    <ion-card-header>
        <ion-card-title>  <ion-icon name="call"></ion-icon>Mobile Number </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        +917020327030
    </ion-card-content>
</ion-card>

<ion-card (click)="onRedirection('https://github.com/anantpatil123')">
    <ion-card-header>
        <ion-card-title><ion-icon name="logo-github"></ion-icon> GitHub</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        https://github.com/anantpatil123
    </ion-card-content>
</ion-card>

<ion-card (click)="onRedirection('https://www.linkedin.com/in/-anant-patil/')">
    <ion-card-header>
        <ion-card-title><ion-icon name="logo-linkedin"></ion-icon> Linkedin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        https://www.linkedin.com/in/-anant-patil/
    </ion-card-content>
</ion-card>