<ion-card >
    <ion-card-header>
        <ion-card-title> Framework Expertise :
        </ion-card-title>
        <ion-card-subtitle >Angular (version 6-17), Ionic Framework </ion-card-subtitle>
    </ion-card-header>
</ion-card>

<ion-card >
    <ion-card-header>
        <ion-card-title> Programming Languages and Libraries:
        </ion-card-title>
        <ion-card-subtitle >TypeScript, JavaScript, HTML5, CSS, Java, PrimeNg, Angular
            Material, Google Tag Manager, Google Analytics, JIRA </ion-card-subtitle>
    </ion-card-header>
</ion-card>

<ion-card >
    <ion-card-header>
        <ion-card-title>Technical Skills :
        </ion-card-title>
        <ion-card-subtitle >RESTful API integration, Unit testing, Responsive design principles, State management
            (RxJS), Debugging and testing, Version control (Git), Performance optimization, Component-based
            architecture, and UI/UX design integration.</ion-card-subtitle>
    </ion-card-header>
</ion-card>

<ion-card >
    <ion-card-header>
        <ion-card-title>Soft Skills : :
        </ion-card-title>
        <ion-card-subtitle > Problem-solving abilities, Collaboration and communication, Continuous learning mindset
        </ion-card-subtitle>
    </ion-card-header>
</ion-card>