

<ion-title size="large" class="page-title">Education</ion-title>

<ion-card >
    <ion-card-header>
        <ion-card-title class="education-title"> <span>Post Graduate Diploma In Advanced Computing</span>  <span>2021</span>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle class="education-title"><span>Institute for Advanced Computing & Software Development</span><span>Pune</span></ion-card-subtitle>
        <ion-list lines="none">
              <ion-row class="description-text">Use technologies to access and interpret information effectively.</ion-row>
              <ion-row class="description-text">Apply their analytical skills to investigate unfamiliar problems using web technologies like HTML 5.0, CSS, JavaScript, jQuery, AngularJS.</ion-row>
              <ion-row class="description-text">Use quantitative data confidently and competently.</ion-row>
              <ion-row class="description-text">Use communication technologies competently.</ion-row>
              <ion-row class="description-text">Understand the multi-tier architecture of web-based enterprise applications using Enterprise JavaBeans.</ion-row>
              <ion-row class="description-text">Integrate Servlets, JSPs with EJB and Databases in J2EE application.</ion-row>
              <ion-row class="description-text">Understand .NET architecture, develop and maintain applications.</ion-row>
          </ion-list>
    </ion-card-content>
</ion-card>

<ion-card >
    <ion-card-header>
        <ion-card-title class="education-title"> <span>Bachelor of Technology
        </span>  <span>2020</span>
        </ion-card-title>
   
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle class="education-title"><span>DKTE's Society's Textile and Engineering Institute, Ichalkaranji</span><span>Kolhapur</span></ion-card-subtitle>
    </ion-card-content>
</ion-card>