<ion-grid class="full-height">
    <ion-row size="12">
        <ion-col class="text-col"  size-sm="12" size-md="6" size-lg="6">

            <ion-row class="greeting-text ">Hi , I am
            </ion-row>
            <ion-row class=" animated-text"> <span></span>
            </ion-row>

            <ion-row class="summary-text">Front-end specialist with 3+ years of experience in Angular (v6-18), Ionic,
                HTML5, CSS3, JavaScript, and Azure DevOps. Skilled in problem-solving, deployment, testing, and
                documentation. Adaptable, independent, and quick to learn new technologies.
            </ion-row>
            <ion-row> <button></button></ion-row>
        </ion-col>

        <ion-col class="profile-pic-col"  size-sm="12" size-md="6" size-lg="6">
            <img class="profile-img" src="assets/profile-picture/anant.jpg" alt="">
        </ion-col>
    </ion-row>
</ion-grid>