ion-item, ion-label{
    margin:0px;
    font-size: 12px;
    height:30px
}

.description-text{
    font-size: 12px;
    color: black;
    margin:8px
}

@media (max-width: 768px) {

    ion-card-title{
        font-size: 14px;
        font-weight:550
    }
    
    ion-card-subtitle{
        font-size:12px
    }
    
    .description-text {
        font-size: 10px;
        color: black;
        margin: 4px;
    }
}    