<ion-title size="large" class="page-title">Experience and Projects</ion-title>

<ion-card>
    <ion-card-header>
        <ion-card-title class="space-between"> <span>Mimeo
            </span> <span> August 2022 - August 2024</span>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-card-subtitle>Mimeo Digital | Customer experience team
        </ion-card-subtitle>
        <ion-list lines="none">
            <ion-row class="description-text">The Digital Project gave end users access to a dynamic digital platform
                that allowed users to
                easily display their digital assets and retain complete permission control by criteria.</ion-row>

            <ion-row class="description-text">I coordinated the renewal of outdated modules, using the latest front-end
                technology to
                guarantee the best possible user experiences while slickly combining creativity with
                convenience.</ion-row>

            <ion-row class="description-text">I've handled Azure Pipelines for Continuous Integration and Delivery
                (CI/CD) as a Front-End
                Developer, applying my experience to streamline build and release procedures. I have also
                developed and implemented user interface features.</ion-row>

            <ion-row class="description-text">Being adept at using Azure DevOps templates, I have streamlined front-end
                workflow
                integration to ensure quick and reliable deployment of web application features.</ion-row>


        </ion-list>
        <hr>
        <ion-card-subtitle class="education-title">Mimeo School
        </ion-card-subtitle>
        <ion-list lines="none">
            <ion-row class="description-text">The Mimeo School Project offered a complete solution which made it simple
                for end users to
                create print-ready orders and effectively manage the whole printing workflow process, guaranteeing
                efficient task management for printing.</ion-row>
            <ion-row class="description-text">I demonstrated a high Ownership
                Quotient and excelled at stakeholder management, solving conflicts, and self-driven execution.</ion-row>
            <ion-row class="description-text">Leveraging agile experience, I validated story points, defined clear
                "Done" criteria, and
                refined backlogs with efficient estimation techniques</ion-row>
            <ion-row class="description-text">Decisive in technology and delivery decisions, my problem-solving skills,
                assertiveness, and
                strong command of the angular framework contributed to successful outcomes.</ion-row>

        </ion-list>
    </ion-card-content>
</ion-card>


<ion-card>
    <ion-card-header>
        <ion-card-title class="space-between"> <span>Griffyn Robotech Pvt Ltd
            </span> <span>July 2021- August 2022</span>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-card-subtitle>Gunshot Data Acquisition Portal
        </ion-card-subtitle>
        <ion-list lines="none">

            <ion-row class="description-text">The Statistics and Data Portal offers end-users a centralized platform to
                analyze inputted
                requirements, presenting comprehensive insights and visualizations that aid in data-driven
                decision-making and informed analysis.</ion-row>
            <ion-row class="description-text">As a Front-End Developer using the Angular framework, I undertook the
                end-to-end
                development of a complete application, starting from ground zero.</ion-row>
        </ion-list>
        <hr>
        <ion-card-subtitle class="education-title">Defect Detection on Complex Multivariate Surfaces (Deepsight) and
            DeepClean
        </ion-card-subtitle>
        <ion-list lines="none">

            <ion-row class="description-text">It enables the connection to highly functional self-operating grading
                machines that segregate
                mobile devices based on their physical condition. The crucial part of this project is, that it
                allows to handle grading machines at remote places through the cloud. </ion-row>
            <ion-row class="description-text"> I demonstrated a high Ownership Quotient and excelled at stakeholder
                management, solving conflicts, and self-driven execution.</ion-row>
            <ion-row class="description-text">I ensured the application's functionality. My commitment to code quality
                resulted in adherence
                to coding standards and the swift resolution of bugs, enhancing overall performance for
                optimal user experience.</ion-row>
        </ion-list>
    </ion-card-content>
</ion-card>